.cabecalho{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    margin-bottom: 1.5rem;

}
.cabecalho__containerInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1rem;
    
}
.cabecalho__perfilPhoto{
    width: 4rem;
    border-radius: 50%;
}
.cabecalho__usuario{
    font-weight: 700;
    font-size: 22px;
    color: var(--cor-primaria);
    padding: 0 0 0.5rem 0;
}
.cabecalho__desc{
    font-weight:400 ;
    font-size: 14px;
    color: var(--cinza-claro);
}